<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GuessTheGame.DB</title>
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="manifest" href="static/manifest.json" />
</head>
<body>
    <h1 class="banner">GuessTheGame.GameDatabase</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script src="static/js/app.js"></script>
</body>
</html>