<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GuessTheShow.DB</title>
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="manifest" href="static/js/manifest.json"/>
    <link rel="icon" type="image/x-icon" href="static/images/logo.png">
</head>
<body>
    <h1 class="banner">GuessTheShow.Database</h1>
    <nav>
        <a href="/">Home</a>

    {% if session.get('username') %}
        <!-- Show these ONLY when logged in -->
        <a href="/logout">Logout</a>
    {% else %}
        <!-- Show these ONLY when logged out -->
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    {% endif %}
</nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script src="static/js/app.js"></script>
</body>
</html>