{% extends "base.html" %}

{% block content %}

<div class="container">

    <p>Welcome to GuessTheShow! This is a simple web application for tracking guesses in GuessTheShow, an entertaining quiz game for show enthusiasts.</p>

    {% if session['username'] %}
        <br>
        <p>Hello {{ session['username'] }}</p>

        <!-- -------------------- -->
        <!-- New code starts here -->
        <!-- -------------------- -->
        <a href="/add"><button>Add guess</button></a>
        <!-- -------------------- -->
        <!-- New code ends here   -->
        <!-- -------------------- -->
    {% endif %}

</div>

<br>

<table class="guess_table">

    <thead>
        <th>Date</th>
        <th>User who guessed</th>
        <th>Show</th>
        <th>Score</th>
    </thead>

    <tbody>
        {% for guess in guesses %}
        <tr>
            <td>{{ guess['date'] }}</td>
            <td>{{ guess['username'] }}</td>
            <td>{{ guess['show'] }}</td>
            <td>{{ guess['score'] }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}